@import  url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.p {
  font-family: 'Caveat', sans-serif;
  font-weight: 500;
   background-color: #1151b8;
}
 

